*{
    margin: 0px;
    padding: 0px;
    font-family: "Host Grotesk", sans-serif;
}
/*common button*/

.common-button{
    background-color: #e8ba2e;
    border: none;
    border-radius: 10px;
    padding:14px 28px;
    margin: 5px;
    cursor: pointer;
    border: 1px solid #e8ba2e;
    font-weight: bold;
}

.common-button:hover{
    background-color: white;
    border: 1px solid #e8ba2e;
}

/*header*/

.container-main{
    width:1200px;
    margin:0 auto;
}
.container{
    width:1000px;
    margin:0 auto;
}
.header-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
}
.header-nav ul{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.header-nav ul a{
    text-decoration: none;
    padding: 5px;
    color: #575757;
}

.header-nav ul a:hover{
    background-color: #e8ba2e;
    padding: 5px;
    color: black;
    border-radius: 7px;
}

/*hero*/

.hero{
    width:1200px;
    height:650px;
    margin:10px auto;
    background:
        linear-gradient(rgba(0,0,0,.25),rgba(0,0,0,.45)),
        url("./images/Background.png");

    background-size:cover;
    background-position:center;
    display:flex;
    align-items:center;
    border-radius:18px;
}
.hero-content{
    margin-left: 40px;
    width: 350px;
}

.hero-content h1{
    color: white;
    font-size:60px;
    line-height:1;
    font-weight:700;
    margin-bottom:20px;
}

.hero-content p{
    color:#fff;
    line-height:1;
    font: size 17px;px;
    margin-bottom:30px;
}

/*tickets*/

.tickets{
    background-color: #F4C430;
    display: flex;
    gap:20px;
    justify-content: space-between;
    padding: 30px 30px;
}
.tickets h1{
    text-align: center;
    padding-top: 15px;
    font-size: 50px;
}

/*Explore Host Cities*/

.city-info{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding-top: 20px;
}

.host-city h1{
    text-align: center;
    margin: 30px;
    font-size: 50px;
}
.city-info h3 {
    padding-bottom: 15px;
}
.city-info p{
     padding-bottom: 15px;
     text-align: justify;
}
.city-info ul{
    padding-bottom: 15px;
    padding-left: 17px;
}
.button-center{
    text-align: center;
    padding: 20px;
}
