*{
    margin: 0px;
    padding: 0px;
    font-family: "Host Grotesk", sans-serif;
}
/*common button*/

.common-button{
    background-color: #e8ba2e;
    border: none;
    border-radius: 10px;
    padding:14px 28px;
    margin: 5px;
    cursor: pointer;
    border: 1px solid #e8ba2e;
    font-weight: bold;
}

.common-button:hover{
    background-color: white;
    border: 1px solid #e8ba2e;
}

/*header*/

.container-main{
    width:1200px;
    margin:0 auto;
}
.container{
    width:1000px;
    margin:0 auto;
}
.header-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
}
.header-nav ul{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.header-nav ul a{
    text-decoration: none;
    padding: 5px;
    color: #575757;
}

.header-nav ul a:hover{
    background-color: #e8ba2e;
    padding: 5px;
    color: black;
    border-radius: 7px;
}

/*hero*/

.hero{
    width:1200px;
    height:650px;
    margin:10px auto;
    background:
        linear-gradient(rgba(0,0,0,.25),rgba(0,0,0,.45)),
        url("./images/Background.png");

    background-size:cover;
    background-position:center;
    display:flex;
    align-items:center;
    border-radius:18px;
}
.hero-content{
    margin-left: 40px;
    width: 350px;
}

.hero-content h1{
    color: white;
    font-size:60px;
    line-height:1;
    font-weight:700;
    margin-bottom:20px;
}

.hero-content p{
    color:#fff;
    line-height:1;
    font: size 17px;
    margin-bottom:30px;
}

/*tickets*/

.tickets{
    background-color: #F4C430;
    display: flex;
    gap:20px;
    justify-content: space-between;
    padding: 30px 30px;
}
.tickets h1{
    text-align: center;
    padding-top: 15px;
    font-size: 50px;
}

/*Explore Host Cities*/

.city-info{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding-top: 20px;
}

.host-city h1{
    text-align: center;
    margin: 30px;
    font-size: 50px;
}
.city-info h3 {
    padding-bottom: 15px;
}
.city-info p{
     padding-bottom: 15px;
     text-align: justify;
}
.city-info ul{
    padding-bottom: 15px;
    padding-left: 17px;
}
.button-center{
    text-align: center;
    padding: 20px;
}
.table{
    border-collapse: collapse;
    width: 1000px;
}

td, th{
    border: 1.5px solid rgb(0, 0, 0);
    padding: 10px;

}
th{
    background-color: #A73131;
    color: white;
}
td{
    padding-left: 50px;
}
.date{
    color: #F60000;
}

.container.table-1 {
    background-color: #e7e7e7;
    border: 1px solid black;
    padding: 20px;
    border-radius: 10px;
}

.container.table-1 h3{
    padding-bottom: 10px;
}

.container.table-1 p{
    padding-bottom: 20px;
}

.faq{
    max-width:900px;
    margin:80px auto;
}

details{
    border:1px solid #ddd;
    border-radius:10px;
    margin-bottom:15px;
    padding:18px;
}

.info h1{
    text-align: center;
    padding: 30px 0px;
}
summary{
    display:flex;
    justify-content:space-between;
    align-items:center;
    cursor:pointer;
    font-size:20px;
    font-weight:600;
    list-style:none;
}

summary::-webkit-details-marker{
    display:none;
}

details p{
    margin-top:15px;
    color:#666;
}

details[open] summary span{
    content:"-";
}

details[open] summary span::before{
    content:"−";
}

details[open] summary span{
    font-size:0;
}

summary span{
    font-size:28px;
}
.container.footer{
   background-color: #e8ba2e;
}
.footer-logo{
    width: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    padding: 10px 0px;
}

hr{
    width: 70%;
    margin: 20px auto;
}

.icon{
    font-size: 30px;
    align-items: center;
    display: flex;
}

.icon a:hover{
    transform: scale(1.2);
    color: #ffffff;
}

.footer-text{
    display: flex;
    gap: 40px;
    justify-content: space-around;
}


.footer-text ul{
    list-style: none;
    display: flex;
   gap: 20px;

}
.footer-text ul a{
    text-decoration: none;
}

.copyright{
    display:flex;
    gap:20px;
    align-items:center;
}